.myIndex {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header {
  position: relative;
  width: 100%;
  height: 150px;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header > div {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
}

.header > .back {
    top: 10px;
    left: 5px;
}

.header > .more {
    right: 5px;
}

.footer {
  width: 100%;
  height: calc(100vh + 55px);
}

.footer > .info {
  position: relative;
  width: 100%;
  height: 50px;
}

.footer > .info > .left {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.footer > .info > .left > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer > .info > .right {
  position: absolute;
  right: 10%;
  top: 26%;
  border: 1px solid rgb(190, 190, 190);
  text-align: center;
  border-radius: 50px;
  padding: 2px 10px;
}

.footer > .info > .right > span {
  font-size: 14px;
}
.footer > .info > .right > span > span {
  color: var(--main-color);
}

.footer > .content {
  width: 100%;
  height: 100vh;
}

.footer > .content > .tab {
  margin-top: 5px;
  padding-top: 5px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid rgb(234, 232, 232);
  border-bottom: 1px solid rgb(234, 232, 232);
}

.footer > .content > .tab > .item {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer > .content > .tab > .item > span {
  transition: all 0.2s;
}

.underline {
  margin-top: 5px;
  width: 20px;
  height: 5px;
  border-radius: 50px;
  background-color: white;
  transition: all 0.2s;
}

.footer > .content > .article {
  width: 200vw;
  height: calc(100vh - 40px);
  display: flex;
  transition: all 0.2s;
}

.footer > .content > .article > .page {
  width: 100vw;
  height: 100%;
  overflow-y: hidden;
}

.isDisplay {
  background-color: var(--main-color);
}

.active {
  font-weight: bold !important;
}

/* 内容 */
.page > .box {
  padding: 10px 0;
  border-bottom: 1px solid rgb(223, 223, 223);
}
.page > .box > .message-box {
  box-sizing: content-box;
  width: 100%;
  height: 50px;
  display: flex;
}
.page > .box > .message-box > .left {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page > .box > .message-box > .left > .img {
  width: 65%;
  height: 95%;
  border-radius: 50%;
  overflow: hidden;
}
.page > .box > .message-box > .left > .img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.page > .box > .message-box > .right {
  width: 80%;
  height: 100%;
  padding-right: 10px;
  font-size: 13px;
}
.page > .box > .message-box > .right > .top {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page > .box > .message-box > .right > .top > .delete {
  width: 25px;
  height: 25px;
}
.page > .box > .message-box > .right > .top > .delete > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.page > .box > .message-box > .right > .bottom {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  color: rgb(84, 83, 83);
  padding-left: 0;
}
.page > .box > .message-box > .right > .bottom > span {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page > .box > .text {
  width: 100vw;
  padding: 0 10px;
  margin: 10px 0;
}
.page > .box > .text > .text-box {
  width: 100%;
  height: auto;
}
.page > .box > .img {
  width: 100vw;
  padding: 0 10px;
  margin-bottom: 10px;
}
.page > .box > .img > .img-box {  
  width: 100%;
}
.page > .box > .img > .img-box > img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 10px;
}
.page > .box > .function {
  width: 100%;
  display: flex;
  padding: 0 10px;
  align-items: center;
}
.page > .box > .connect > .method > button {
  font-size: 14px;
  border: none;
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 2px 5px;
}
.page > .box > .function > div {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.page > .box > .function > div > span {
  font-size: 12px;
}

/* 点击查看头像 */
.checkAvatar {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.checkAvatar > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkAvatar > div > .img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.checkAvatar > div > .img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.upload {
  margin-top: 20px;
}

.bottom {
  padding-left: 15px;
  font-size: 13px;
  color: rgb(87, 87, 87);
}
.bottom > div {
  margin-top: 5px;
}
.bottom > div:nth-child(1) {
  display: flex;
  align-items: center;
}
.bottom > div:nth-child(1) > div {
  width: 20px;
  height: 20px;
}
.bottom > div:nth-child(1) > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.bottom > div:nth-child(1) > span {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.bottom > div:nth-child(2) > span:nth-child(2n + 1) {
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.bottom > div:nth-child(3) > span {
  font-size: 14px;
  color: rgb(75, 75, 75);
}

.other-right {
  position: absolute;
  right: 10%;
  top: 26%;
  display: flex;
  align-items: center;
}
.other-right > div:nth-child(2) {
  border: 1px solid rgb(204, 204, 204);
  height: 100%;
  padding: 4px 20px;
  border-radius: 50px;
  font-size: 12px;
  background-color: var(--main-color);
}
.other-right > div {
  margin-left: 10px;
}