/* 隐藏滚动轴 */
::-webkit-scrollbar {
  display: none;
}

/* 整体 */
.chat {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* 聊天消息 */
.chat > .main {
  box-sizing: border-box;
  width: 100%;
  height: 86%;
  padding: 0 20px 10px 20px;
  overflow-y: scroll;
}

/* 时间 */
.chat > .main > .time {
  text-align: center;
}
.chat > .main > .time > span {
  font-size: 12px;
  opacity: 0.4;
}

/* 对面用户 */
.chat > .main > .otherUser {
  display: flex;
  margin-top: 10px;
}

/* 自己 */
.chat > .main > .self {
  width: 100%;
  display: flex;
  margin-top: 10px;
  flex-direction: row-reverse;
}

/* 用户头像 */
.user {
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.user > img {
  width: 100%;
  height: 100%;
}
/* 用户消息 */
.message {
  margin: 0 5px;
  padding: 10px;
  background-color: #eae9ee;
  border-radius: 10px;
  max-width: 60%;
}
/* 左边消息 */
.left-message {
  border-top-left-radius: 0;
}
/* 右边消息 */
.right-message {
  border-top-right-radius: 0;
  background-color: var(--main-color);
}

/* 输入框 */
.chat > .submit {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7%;
  background-color: #f3f2f8;
  transition: .2s;
}
.chat > .submit > .all {
  display: flex;
  align-items: center;
}

.chat > .submit > .all > .item {
  box-sizing: border-box;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat > .submit > .all > .item:nth-child(2) {
  width: 70%;
  height: 100%;
  flex-grow: 7;
}

.chat > .submit > .all > .item:nth-child(1) > img {
  width: 70%;
  height: 70%;
}
.chat > .submit > .all > .item:nth-child(2) > input {
  position: relative;
  box-sizing: border-box;
  top: 3px;
  width: 100%;
  height: 38px;
  border: none;
  caret-color: var(--main-color);
}
.chat > .submit > .all > .item:nth-child(3) > img {
  width: 100%;
  height: 70%;
}

.status-zero {
  width: 73%;
  height: 70%;
}

.status-one {
  padding-right: 5px;
  color: var(--main-color);
}

.newSubmit {
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 47% !important;
  display: flex;
}

.newAll {
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.newMain {
  box-sizing: border-box;
  width: 100%;
  height: 46% !important;
}

/* 更多功能 */
.chat > .submit > .extension {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 20px;
}
.chat > .submit > .extension > .item {
  width: 50px;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25px;
}
.chat > .submit > .extension > .item > img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
.chat > .submit > .extension > .item > span {
  font-size: 10px;
}
